@use '../core/variables' as var;
//GENERAL
body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  background-color: #fdddca;
}

.page {
  padding: 0px;
  width: 100%;
}


//MAIN
h2 {
  color: #FF5733;
  text-align: left;
}
.populars {
  width: 60%;
}

.basket {
  width: 30%;
  text-align: center;
}

.page__main {
  display: flex;
  justify-content:center;
  gap: 2rem;
  width: 100%;
  margin-top: 1rem;
  
}


//Productos 
.image {
  width: 100px;
  border-radius: 0.3rem;
}
.name-product {
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.product {
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  
}
.buy {
  background-color: orange;
  border: 0;
  padding: 0.5rem;
  margin: 1rem;
}

.buy:hover {
  background-color: var.$color-secondary;
  cursor: pointer;
  
}

.delete-from-basket {
  text-align: center;
  font-weight: bold;
  background-color: #D1FFBD;
  width: 1.5rem;
  height: 1.5rem;
  padding-top: 0.2rem;
  border-radius: 1rem;
}

.delete-from-basket:hover {
  background-color: var.$color-secondary;
  cursor: pointer;
}

.basket-counter {
  display:flex;
  justify-content: space-evenly;
  width: 100%;
}

.basket-counter p {
  line-height: 2;
}

.basket-symbol {
  background-color: orange;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.basket-symbol:hover {
 background-color: #FF5733;
}

.productsUL {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

.inBasket {
  background-color: #D1FFBD !important; 
  color: black;
}

